<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button routerLink="/" class="btn btn-link">Main page</button>
  </div>

  <div class="info">
    <strong>The author here</strong>
    <small>12.09.2019</small>
  </div>

  <div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid
      aspernatur dicta enim ex, explicabo inventore itaque odio sequi.
      Aspernatur, beatae commodi consequatur deleniti doloribus ea earum eveniet
      illo incidunt mollitia nam natus nobis non quam quasi quis, quos
      repellendus tempora unde vel. Ab culpa dolore molestiae nemo nesciunt
      optio velit.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid
      aspernatur dicta enim ex, explicabo inventore itaque odio sequi.
      Aspernatur, beatae commodi consequatur deleniti doloribus ea earum eveniet
      illo incidunt mollitia nam natus nobis non quam quasi quis, quos
      repellendus tempora unde vel. Ab culpa dolore molestiae nemo nesciunt
      optio velit.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid
      aspernatur dicta enim ex, explicabo inventore itaque odio sequi.
      Aspernatur, beatae commodi consequatur deleniti doloribus ea earum eveniet
      illo incidunt mollitia nam natus nobis non quam quasi quis, quos
      repellendus tempora unde vel. Ab culpa dolore molestiae nemo nesciunt
      optio velit.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid
      aspernatur dicta enim ex, explicabo inventore itaque odio sequi.
      Aspernatur, beatae commodi consequatur deleniti doloribus ea earum eveniet
      illo incidunt mollitia nam natus nobis non quam quasi quis, quos
      repellendus tempora unde vel. Ab culpa dolore molestiae nemo nesciunt
      optio velit.
    </p>
  </div>
</div>
